[2019-04-30 14:12] wasim-dev opened #2 "Swift 5 conversion error."
I am using latest Xcode version 10.2.1 (10E1001) with my project in Swift 5. While i compile project framework gives compile time error and i can see Swift 5 conversion is available. But when i convert it it gives error.

**To Reproduce**
1. Create a project with Xcode 10.2.1 (10E1001).
2. Add Frames by pods.
3. Compile project and it will as you for Swift 5 conversion with an error.
4. Perform co

[2019-04-30 15:27] nicolas-maalouf-cko commented on #2
Hi @wasim-dev

I just ran the project on Xcode 10.2.1 along with the conversion of the syntax to Swift 5 and all worked smoothly.

Can you please provide more details about the error you're getting?

Thank you

[2019-04-30 17:50] wasim-dev commented on #2
Hi @nicolas-maalouf-cko
Thanks, For looking in to the problem. I tried to replicate the issue. Just figured out that this only generates if we have old version of Frames SDK and then it updated. Now i deleted old SDK by removing pods and then add new one which is working perfect.

Thanks
Have great evening.

[2019-04-30 17:50] #2 closed

[2019-09-25 13:19] ViktorAmelin opened #3 "html error response"
**Describe the bug**
Xcode 10.3
Using your test cards for dev environment
4242 4242 4242 4242 cvv: 100

**Here is what I'm sending:**
REST POST https://sandbox.checkout.com/api2/v2/payments {'content-type': 'application/json', 'Authorization': 'sk_test_2e41ac0e-fa36-47e6-bbb8-f9c903d2d5c5'} {'source': {'type': 'token', 'token': 'card_tok_735752A2-41C8-41F3-836A-5D59BA562B77'}, 'amount': '1300', 'c

[2019-09-25 16:24] nicolas-maalouf-cko commented on #3
Hi @ViktorAmelin

It seems you are mixing 2 endpoints here:
1) https://sandbox.checkout.com/api2/v2/tokens which is the only URL that can be called directly from mobile SDKS with the API public key
2) https://api.sandbox.checkout.com/payments which is to be used from a backend server with the API secret key along with the temporary card token obtained in 1)

Please make sure to never use any endpo

[2019-09-26 14:01] ViktorAmelin commented on #3
Hello. I've talked with our backend developer, and he told that the chain above is correct and we don't mix endpoints.
This is what we are getting from you. Can you check what's going on there?

[checkout.rtf.zip](https://github.com/checkout/frames-ios/files/3658126/checkout.rtf.zip)

[2019-09-26 17:59] nicolas-maalouf-cko commented on #3
Hi @ViktorAmelin
This would happen if you call https://sandbox.checkout.com/api2/v2/payments which is an invalid URL

https://sandbox.checkout.com/api2/v2/tokens is the URL that needs to be called from the app and
https://api.sandbox.checkout.com/payments the one from your backend server

[2019-09-27 12:47] ViktorAmelin commented on #3
@nicolas-maalouf-cko Hello. Are the links in your framework are correct:
var urlApi: String {
        switch self {
        case .live:
            return "https://api2.checkout.com/v2/"
        case .sandbox:
            return "https://sandbox.checkout.com/api2/v2/"
        }
    }

    var urlPaymentApi: String {
        switch self {
        case .live:
            return "https://api.checkout

[2019-09-27 13:30] nicolas-maalouf-cko commented on #3
These work, but we are release an updated SDK soon with the latest URLs

[2019-10-30 11:40] nicolas-maalouf-cko commented on #3
Hi @ViktorAmelin [3.0.1](https://github.com/checkout/frames-ios/releases/tag/3.0.1) is now released

[2019-10-30 11:40] #3 closed

[2020-01-02 17:55] harryblam opened #10 "Cannot input the + symbol in the phone number field when inputting billing details"
**Describe the bug**
When using the `billingDetailsPhone` state as required, I cannot input the + symbol in the phone number field.

**To Reproduce**
Steps to reproduce the behavior:
1. Initialise the view with `cardHolderNameState: .required, billingDetailsState: .required`
2. Enter all required details
3. Go to billing details view
4. Enter all required fields, and try to enter phone number as +

[2020-02-14 10:49] nunepradeepkumar commented on #3
Hi ,
   How to change the pay  button position in default frame.

[2020-04-05 20:42] Oleygen opened #13 "Wrong snippet in usage section"
`var cardViewController: CardViewController`

 is computed, so assign delegate, bar button, and push use different instances of CardViewController.
Consider to change it into lazy

[2020-04-05 20:44] Oleygen opened #14 "CardViewController never fire failure"
func onTapDoneCardButton() triggers onTapDone() delegate method, which never gets .failure as a parameter, check line 202 of CardViewController

[2020-05-14 12:28] Oleygen opened #15 "Can't obtain 3D Secure success/failure url"
In short: we have a web and mobile application, both using Checkout Hub with data, 3DS works fine for web.
I'm trying to use ThreedsWebViewController to implement 3D Secure feature on iOS, but its webView redirects to random url.

1. Create token with

2. Send token to back-end, back-end responds with url
3. Create and show

4. Enter code into opened webView window and tap "Continue"
5. Looking fo

[2020-05-14 13:05] nicolas-maalouf-cko commented on #15
Hi @Oleygen

You need to define they dynamic success_url and failure_url when sending the payment request in step 2 as well as defined [here](https://api-reference.checkout.com/#tag/Payments/paths/~1payments/post).

These should be the same values you then set when initialising ThreedsWebViewController in the mobile app.

The redirection to success_url or failure_url happens after the first redire

[2020-05-14 13:57] Oleygen commented on #15
@nicolas-maalouf-cko

success_url  For redirect payment methods, this **overrides the default** success redirect URL configured on your account

We're set those urls on a Checkout Hub, or we still should to sent those params?

[2020-05-14 13:59] nicolas-maalouf-cko commented on #15
If you don't send them in the payment request then the default values on the hub will be used

[2020-05-14 14:16] Oleygen commented on #15
Right. Therefore default values set, but still incorrect url comes from a webView

[2020-05-14 14:20] nicolas-maalouf-cko commented on #15
The interceptor URL is the one that needs to first be loaded in the webview, and then when the cardholder interacts with the UI they're redirected to the success or failure URL.

When you say "Actual value" for the URL, where are you actually reading it from?

[2020-05-14 15:28] Oleygen commented on #15
@nicolas-maalouf-cko
`  ThreedsWebViewController.webview.url `
  or
[code]

[2020-05-15 14:56] nicolas-maalouf-cko commented on #15
@Oleygen this could be happening because of how our 3DS interceptor was updated for 3DS2

Would you be able to try to comment out this line:
https://github.com/checkout/frames-ios/blob/master/Source/ThreedsWebViewController.swift#L74

And try again see if the problem is resolved?

Thanks

[2020-05-18 07:02] Oleygen commented on #15
@nicolas-maalouf-cko
Commenting out that line helped. Thanks!

[2020-05-18 07:02] #15 closed

[2020-06-04 10:02] PiotrPawlus opened #16 "CheckoutAPIClient never throws an error if an unexpected error occurs"
**Describe the bug**
If you are using CheckoutAPIClient for both methods
* `createCardToken(card:_, successHandler:_, errorHandler:_)` - [Line 98](https://github.com/checkout/frames-ios/blob/72f212436420729778c3a766fbfd78eaf1121569/Source/CheckoutAPIClient.swift#L98), [Line 105](https://github.com/checkout/frames-ios/blob/72f212436420729778c3a766fbfd78eaf1121569/Source/CheckoutAPIClient.swift#L105

[2020-06-05 01:04] zhiyilee commented on #10
Same here

[2020-06-05 07:25] nicolas-maalouf-cko commented on #16
Hi @PiotrPawlus

When you say invalid expired credentials you mean a wrong public API key?
Checkout.com public API keys don't expire today, the only way to invalidate them is for them to be manually refreshed from the merchant's account configuration.

I agree this can be improved though, any suggestion of the type of exception you'd expect there?
Feel free to send a pull request and someone from

[2020-06-11 07:55] sravani552 opened #17 ""CardView" nib but the view outlet was not set"
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '-[UIViewController _loadViewFromNibNamed:bundle:] loaded the "CardView" nib but the view outlet was not set.'

App is getting crash.

[2020-06-11 10:09] deepesh-vasthimal-cko commented on #17
Hi Sravani

Please can you check if you have connected the CardView outlet from nib or storyboard to the cardview UI component itself if not please can you connect them.

[2020-06-14 05:50] SalilLuley opened #18 "Delegate method of view controllers not called"
Just copy pasted the kick start frames code in iOS GitHub  repo. In that I found a bug that cardViewController.delegate = self does not set the delegate, its still nil and because of that delegate methods of my vc are not called from CardViewController.

[2020-06-15 13:44] daven-gomes-cko commented on #18
I've just tried to run the code and it appears to work as expected, calling the delegate method as expected after entering some test card details and tapping the Pay button.  Do you mean this isn't working for you when you run the sample code?  Or it isn't working in your project?

If you could please post some sample code it might help see where the issue is.

[2020-06-19 12:35] dhavalgajjar-greenapex commented on #18
I am facing the same issue.
I just copy and pasted in my project by referring GitHub home page's document.
Using pod 'Frames', '~> 3.0'.
Delegate is nil even after assigning viewcontroller and not getting call back.

Step 1:
private let checkoutAPIClient = CheckoutAPIClient(publicKey: "public_key",
    environment: .sandbox)

Step 2 :
private var cardViewController: CardViewController {
        le

[2020-06-19 14:56] daven-gomes-cko commented on #18
@dhavalgajjar-greenapex Could you try change your `cardViewController` to `lazy var`.  From your code, it appears every time you call `cardViewController`, you are creating a new instance rather than retaining one.

[2020-06-26 13:34] daven-gomes-cko commented on #18
Closing this issue for now, if you still experience this problem or the above solution does not work, feel free to re-open it.

[2020-06-26 13:34] #18 closed

[2020-07-01 15:03] SalilLuley commented on #18
Initialising `cardViewController` as lazy var did the trick. Thank you for the help.

[2020-07-06 14:53] deepesh-vasthimal-cko commented on #17
@sravani552 since there has been no response. I am closing this issue for now. Please feel free to reopen it.

[2020-07-06 14:53] #17 closed

[2020-09-08 12:08] christianvershkov commented on #16
Hi @PiotrPawlus,
I added new [pull request](https://github.com/checkout/frames-ios/pull/21) which can fix the problem you described. Hope, it will be merged soon.

[2020-09-20 13:30] fahedalahmad opened #22 "Xcode 12"
Xcode 12: 'PhoneNumberKit' has different definitions in different modules; first difference is definition in module 'PhoneNumberKit.Swift' found method with no designater initializer

i am using PhoneNumberKit
[https://github.com/marmelroy/PhoneNumberKit]

[2020-09-21 10:57] christiygag commented on #22
Same issue here. I have integrated PhoneNumberKit and frames-ios through pods. But the definitions are conflicting in Xcode 12.

Any workarounds?

[2020-09-21 11:08] fahedalahmad commented on #22
@christiygag  I have manually named PhoneNumberKit into PhoneNumberKitFrames in Frames framework and it worked for me. until one of them decide to change the class name.

[2020-09-21 11:08] daven-gomes-cko commented on #22
Hi @fahedalahmad, @christiygag,

Frames-ios contains PhoneNumberKit in its repository (as copied source files, not integrated with any dependency managers). If you were to remove PhoneNumberKit from your Pods (or your other integration method), would your apps compile? My theory is your apps would then refer to the PhoneNumberKit classes/methods in Frames-ios.

This could be a temporary solution f

[2020-09-24 13:17] Sayanta-Redapple opened #23 "Is 3D Secure available?"
Hello,

It will be great if the framework handle #D Secure payment.

[2020-09-24 16:25] kevin-jarvis-cko commented on #23
Hi @Sayanta-Redapple, thanks for your feedback. To handle 3D Secure, you need to take the redirect URL that [your server receives when requesting the payment](https://api-reference.checkout.com/#tag/Payments/paths/~1payments/post) and pass it to your app. You can then display the 3D Secure view to your user, and listen for success/failure URL redirections.

Frames-ios can handle the webview and su

[2020-10-14 11:58] erenbesel commented on #22
Any update on this @daven-gomes-cko ?
Removing PhoneNumberkit pod is no help as it has its own updates for Xcode 12. I am looking into downloading Frames-ios manually until you guys provide a fix. How can we setup frames manually? Installation steps only show Cocoapods and Carthage.

[2020-10-14 14:23] daven-gomes-cko commented on #22
Hi @erenbesel, we are planning to release a new version of Frames that will rename our use of `PhoneNumberKit` next week. For now, can you point your dependency manager to the branch `make-phone-number-kit-internal-rename` please? This renames our uses of `PhoneNumberKit` so you can continue to use `PhoneNumberKit` directly with your own integration. Thanks.

[2020-10-15 12:45] erenbesel commented on #22
Hi @daven-gomes-cko, thank you. If you are releasing an update next week, may I ask will you also update your own phonenumberkit or only rename it? Maybe we can only use yours if it will be up to date. Thanks.

[2020-10-16 10:49] daven-gomes-cko commented on #22
Hi @erenbesel, sure we can update our version of PhoneNumberKit _and_ rename it. When we release it I'll post in this thread to let you know it's available.

[2020-10-22 11:08] daven-gomes-cko commented on #22
Hi all, a new version of Frames is available (3.1.0). This updates `PhoneNumberKit` and renames it to `CKOPhoneNumberKit`. Please let us know if you have any other issues. 🙂

[2020-10-22 11:08] #22 closed

[2020-10-28 20:04] sebskuse opened #26 "Apps submitted with 3.1.0 are rejected from the AppStore"
**Describe the bug**
It appears that in 3.1.0 there is a new shell script included as part of the copy phase - `update.sh` (https://github.com/checkout/frames-ios/blob/master/Source/PhoneNumberKit/Resources/update.sh). It looks like this was pulled in when upgrading `PhoneNumberKit`. When validating our app, we are receiving the following error:

`
Invalid Signature. Code object is not signed at a

[2020-10-29 10:10] #26 closed

[2020-10-29 10:20] daven-gomes-cko commented on #26
Hi @sebskuse thanks for reporting this. We've merged a temporary fix by removing the `update.sh` file from the repo. If this is urgent, you can point your dependency manager to the `master` branch for now. Once we do some more testing and release a new version of Frames, I will update this issue to let you know.

[2020-10-29 13:38] sebskuse commented on #26
@daven-gomes-cko great, thanks for resolving this so quickly!

[2020-11-01 14:59] daven-gomes-cko commented on #26
Hi @sebskuse, no worries! Frames 3.1.1 has now been released.

[2021-01-12 11:24] sprzenus opened #34 "Error in the Interface Builder"
**Describe the bug**
Xcode shows errors in file `DetailsInputView.swift` after opening a storyboard file.
Errors:
 - line 48: 'UIButtonType' has been renamed to 'UIButton.ButtonType'
 - line 49: Cannot force unwrap value of non-optional type 'UILabel'

**To Reproduce**
Open a storyboard while the framework is imported.

**Desktop (please complete the following information):**
 - OS: macOS 11.1
 -

[2021-01-14 12:35] daven-gomes-cko commented on #34
Thanks for reporting this issue @sprzenus. This should now be fixed in 3.2.0 for `DetailsInputView`.

[2021-01-14 12:35] #34 closed

[2021-01-14 12:37] daven-gomes-cko commented on #16
Thanks @christianvershkov for the PR. 3.2.0 now includes `NetworkError` via two new methods:
[code]

[2021-01-14 12:37] #16 closed

[2021-01-15 15:22] sebskuse opened #38 "Swift Package Manager support"
**Is your feature request related to a problem? Please describe.**

It looks like some initial support for Swift Package Manager was added with a [Package.swift](https://github.com/checkout/frames-ios/blob/master/Package.swift), but this hasn't been updated in 3 years. Actually trying to import `frames-ios` as a SPM dependency results in many errors, and also appears to import Alamofire that doesn

[2021-01-15 16:18] deepesh-vasthimal-cko commented on #38
Thanks @sebskuse for raising this. We will surely look into this and bring in a fix soon. Meanwhile we have other dependency managers like cocoa-pods and Carthage supported. Please have a look at them if that fits into your integration.

[2021-01-15 16:31] sebskuse commented on #38
@deepesh-vasthimal-cko Thanks for the reply. We're actually using `Carthage` currently, but it's becoming clear that the path forward is SPM.

[2021-02-18 16:06] mvoong opened #39 "Allow customising chevron colour"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way of customizing the chevron colour, so it's difficult to get a dark mode looking right.

**Describe the solution you'd like**
A separate property added to `CheckoutTheme` for altering the chevron tint color.

**Describe alternatives you've considered**
Trying to access the underlying `UIButton` and changin

[2021-03-05 15:32] deepesh-vasthimal-cko commented on #39
@mvoong this is now released : https://github.com/checkout/frames-ios/releases/tag/3.3.0. Any questions please feel free to reopen the issue. Once again thank you for creating the PR.

[2021-03-05 15:32] #39 closed

[2021-03-05 15:38] deepesh-vasthimal-cko commented on #23
@Sayanta-Redapple closing this issue now. However if you still have any questions please feel free to re-open the issue.

[2021-03-05 15:38] #23 closed

[2021-03-05 16:03] mvoong commented on #39
Thanks, we've integrated with this already and looks good.

[2021-03-15 18:13] daven-gomes-cko commented on #14
Hi @Oleygen sorry for the late reply. We addressed this in a release by handling the failure scenario in `CardViewController`:
[code]

If you still experience this bug please feel free to re-open this issue with repro steps. Thanks.

[2021-03-15 18:13] #14 closed

[2021-03-15 18:15] daven-gomes-cko commented on #10
Hi @harryblam sorry for the late reply. I can't seem to reproduce this issue, it may have been fixed in a release since this issue was opened, or when we updated `PhoneNumberKit`.

![simulator_screenshot_244A62FB-BAB5-4D03-B978-2D87D0152F47](https://user-images.githubusercontent.com/59568833/111201180-6d5aa380-85ba-11eb-9e11-c3375c81c850.png)

If you still experience this bug please feel free to r

[2021-03-15 18:15] #10 closed

[2021-03-22 13:58] barniques opened #46 "PhoneNumberTextField definition conflict"
Recently we have found a bug, which is blocking our integration of your iOS sdk

In our project we use third-party dependencies with Objc code. Because of this, Cocoapods generates Objc headers for swift files automatically.
After installing yours sdk, our project does not compile with this error:
` 'PhoneNumberTextField' has different definitions in different modules; first difference is definiti

[2021-03-22 14:24] harry-brown-cko commented on #46
Hi @barniques,

We are currently working on a solution to this, which will be fixed in our next release. We expect to follow your third suggestion (adding `PhoneNumberKit` as a dependency).

[2021-03-23 10:52] adamwaite opened #47 "CkoPhoneNumber coding key query"
Hi.

Just wanted to query something I've noticed in the API contracts for registering a card in the payment flows (`POST https://api.checkout.com/tokens`).

The `CkoAddress` type (and other associated types, like `CkoCardTokenRequest`) is encoded using snake case keys (https://github.com/checkout/frames-ios/blob/master/Source/CkoAddress.swift), as can be seen in the `Encodable` implementation. `ad

[2021-03-23 17:24] deepesh-vasthimal-cko commented on #47
@adamwaite Thanks for raising this with us. We are aware of this now and we will plan to make a fix in the SDK with our next release. Thanks

[2021-03-31 19:42] deepesh-vasthimal-cko commented on #13
@Oleygen This issue has been fixed and updated in our latest 3.4.0 release. Please feel free to open this issue if you have any further questions.

[2021-03-31 19:42] #13 closed

[2021-03-31 19:44] deepesh-vasthimal-cko commented on #47
@adamwaite , This is now fixed as part of our latest release 3.4.0. Please feel free to re-open this if you have any further questions.

[2021-03-31 19:44] #47 closed

[2021-03-31 19:45] #46 closed

[2021-04-01 11:06] adamwaite commented on #47
Hey CkoAddress still implements `CodingKeys`, is that an edge case?

[2021-04-01 11:07] adamwaite commented on #47
Also `CkoCardTokenRequest`

[2021-04-01 12:00] daven-gomes-cko commented on #47
Hey @adamwaite, the update was a quick fix that just addressed the Codable objects that were causing errors. We'll work on improving the whole decoding/encoding logic for a future update. 🙂

[2021-04-01 16:01] sebskuse opened #57 "Release 3.4.0 broken with Carthage"
**Describe the bug**

As of the latest release we are unable to build the SDK with `Carthage`:

[code]

It appears that the workspace has moved from the root directory, which means that Carthage is unable to find it.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `frames-ios` as a carthage dependency
2. Attempt to build dependencies
4. See error

**Expected behavior**
The project should

[2021-04-01 18:37] harry-brown-cko commented on #57
Hi @sebskuse,
Apologies for the Carthage issue. We are planning to release a patch for this next week. Please use version `3.3.0` until then.

[2021-04-06 15:21] harry-brown-cko commented on #57
Hey @sebskuse, thanks for the heads up. I think we're almost there with the fix now in PR #58. We have tested ourselves and it should now be fine. If you want to double check, point your Cartfile at branch `bug/fix-carthage`.

[2021-04-06 20:27] sebskuse commented on #57
Hi @harry-brown-cko - just given this a go and it looks like it compiles after replacing `FramesIos` with `Frames` in our codebase, thanks!

As an aside, as a feature request - it would be great to drop the `Alamofire` dependency in favour of just using `URLSession`. Nowadays `URLSession` is just as powerful, there's less chance of a conflict between other dependencies that may use a different loc

[2021-04-06 20:30] harry-brown-cko commented on #57
Yeah @sebskuse we agree. This is definitely something we're considering for future releases.

[2021-04-16 08:27] harry-brown-cko commented on #57
@sebskuse this issue was fixed as part of the latest release, `3.4.1`. Please feel free to re-open this if you have any further questions.

[2021-04-16 08:27] #57 closed

[2021-04-21 07:39] sebskuse opened #66 "Errors when using 3.4.1"
**Describe the bug**

Hi,

We use `frames-ios` using `Carthage`, and last night I merged the upgrade to 3.4.1 for our CI system to pick up. This had required us to change references to `Frames` from `FramesIos` in source, and I had linked the new dependencies registered in the `Cartfile` in the host application (as we do with other Carthage dependencies).

Everything worked as expected till our ni

[2021-04-21 15:00] harry-brown-cko commented on #66
Hey @sebskuse , sorry to hear that you're having issues with Frames again. We've unembedded the frameworks from Frames in the `develop` branch. Can you please check if this has fixed your issue? If so we can do a release that includes this fix.

NB. Code in `develop` is not verified for production and should not be pushed to customers.

[2021-04-21 16:21] sebskuse commented on #66
Hi @harry-brown-cko, I'll pull develop in as a dependency and smoke test that against CI and the AppStore - will let you know how we get on

[2021-04-21 18:58] sebskuse commented on #66
Hey @harry-brown-cko, given that a go (resolves to commit 698046fd8ba17ad614d95ca103a59d473d0d42d1).

I'm getting a compilation error with this now:
`could not find module 'Frames' for target 'arm64-apple-ios'; found: armv7-apple-ios, arm, armv7`

It looks like the xcframework architectures being built don't match what we were seeing with the older version (and other Carthage dependencies - it loo

[2021-05-06 12:18] harry-brown-cko commented on #66
Hey @sebskuse I think the issues you mentioned are now fixed. Would you mind checking the develop branch again? Thanks in advance!

[2021-05-06 14:53] sebskuse commented on #66
Hi @harry-brown-cko, thanks for the update - I've updated our branch to the latest commit on develop (df9c3f1d6cb0a60117ee11a3b1b801c065ade1e6) and it looks like everything has compiled correctly and tests have passed, so looks good!

[2021-05-06 16:00] harry-brown-cko commented on #66
Thanks @sebskuse for being patient with us whilst sorting out this issue. Closing it now and we expect the fixes to go out in the next release

[2021-05-06 16:00] #66 closed

[2021-05-06 16:02] sebskuse commented on #66
No problem, thanks for sorting.

[2021-06-03 11:23] sebskuse opened #72 "Billing addressLines missing in CkoCardTokenResponse"
**Describe the bug**
I've just gotten round to upgrading us from 3.3.0 to 3.4.2, and just caught a potential problem in that the token response no longer seems to contain the billing addressLines.

We're definitely setting these on the checkout controller in the same way as on 3.3.0 (the only source changes are FramesIos -> Frames in the codebase), and switching back to 3.3.0 works as expected.

*

[2021-06-07 08:58] deepesh-vasthimal-cko commented on #72
@sebskuse. Thank you for raising this issue. I am able to reproduce this and will soon plan for a fix.

[2021-06-09 10:47] abouroubi opened #74 "Issues with iOS Example Custom"
**Describe the bug**
I cloned the repository for iOS Example Custom and run `pod install`.
After opening the workspace with XCode, I changed the public key and started the project on the iPhone SE Emulator, I enter the test card '4242 4242 4242 4242' with '10/26' as exp date and '100' as CVV, and I tap the button, this error apear:
`Frames.NetworkError.objectDeallocatedUnexpectedly`.

**Expected b

[2021-06-09 10:50] deepesh-vasthimal-cko commented on #74
@abouroubi Thanks for raising this issue, we are aware of this and will soon apply a fix. Meanwhile you can use our other iOS examples like [https://github.com/checkout/frames-ios/tree/master/iOS%20Example%20Frame] if you like to see how token is generated.

[2021-06-09 12:13] #74 closed

[2021-07-20 15:43] deepesh-vasthimal-cko commented on #72
@sebskuse This is now fixed in latest release. Please refer : https://github.com/checkout/frames-ios/releases/tag/3.4.3

[2021-07-20 15:43] #72 closed

[2021-08-09 15:06] harryblam opened #91 "Compilation issue using Swift Package Manager and v3.4.3"
**Describe the bug**
I'm seeing a compilation issue using Swift Package Manager after updating to v3.4.3.

**To Reproduce**
Steps to reproduce the behavior:
1. pull down v3.4.3
2. Go to build, see build error

**Screenshots**
<img width="959" alt="Screenshot 2021-08-09 at 17 04 45" src="https://user-images.githubusercontent.com/2333536/128728881-90d39206-d084-4ba9-a3f5-6a7322221842.png">

[2021-08-10 08:49] deepesh-vasthimal-cko commented on #91
Hi @harryblam

Just tried the same and I am not been able to reproduce the issue. Can you please let us know what version iOS & xcode you are trying to build with  ?

see below reference.

<img width="1125" alt="Screenshot 2021-08-09 at 16 40 33" src="https://user-images.githubusercontent.com/59569588/128836962-72b819f2-0f38-4053-9bd7-523c8c63d5c4.png">

<img width="1129" alt="Screenshot 2021-08-1

[2021-08-10 16:26] harryblam commented on #91
Hi @deepesh-vasthimal-cko ,

I'm using Xcode 12.5.1 building onto a Simulator running iOS 14.5

[2021-08-10 18:00] deepesh-vasthimal-cko commented on #91
Thanks @harryblam. Can you also please let us know what are the details steps you used to configure the SDK. Would really help to reproduce the issue.

[2021-08-13 21:29] anas-iqbal commented on #91
Hello Team, I am also facing similar issue from past few days, it was working fine before. I am using this plugin in my flutter project.

Error:CheckoutAPIClient.swift:3:8: error: no such module 'CheckoutEventLoggerKit'

Please help

[2021-08-16 16:25] harryblam commented on #91
Hi @deepesh-vasthimal-cko , i'll put some more detailed steps below with some screenshots of what i'm seeing.

In terms of configuring the SDK, we're following closely the `CardViewController` steps as defined in the README (however this is irrelevant as the compile error is happening within the Frames module).

**Steps**
1. Quit Xcode, clean derived data
2. Open Xcode, open project file, click in

[2021-08-16 16:49] harryblam commented on #91
@deepesh-vasthimal-cko I've realised that the build is succeeding for me when building for iOS device (arm64), and it's failing when building for simulator.

Hope that helps you in debugging further.

[2021-08-16 20:48] deepesh-vasthimal-cko commented on #91
Hi @harryblam Thanks for the details, Can you please help me answer a few queries for me.

1. What version of SPM Frames you were previously using before migrating to 3.4.3 ?
2. Can you please reset package caches and try again ?
3. Can you please confirm the Swift package dependencies loaded in your xcode as similar to below with version numbers of each dependency ?
<img width="267" alt="Screensh

[2021-08-17 14:47] harryblam commented on #91
Hi @deepesh-vasthimal-cko, this is on my list, I will look to get you these details sometime this week!

[2021-08-23 11:52] deepesh-vasthimal-cko commented on #91
@harryblam Dont bother I am able to replicate this. This happens when you try to build the frames SDK in release mode on simulator. For time being you could run the release mode on device and perform the testing / development unless the simulator is required to do something specific on release mode. Since we are now able to reproduce this we will plan for a fix in our next releases.

<img width="1

[2021-09-14 04:53] gravindragupta90 opened #99 "3ds implementation for custom UI Flow"
Hi,

I am trying to integrate the iOS sdk with the custom UI as shown in the iOS Example Custom. I am looking to add the 3Ds implementation but could not find any documentation to implement it for iOS.

We have successfully implemented for the android-sdk as it's clearly documented in the git repo.
/////////////// Android Snippet ////////////////
[code]
/////////////// End //////////////////////
*

[2021-09-17 09:42] deepesh-vasthimal-cko commented on #99
Hi @gravindragupta90 The sid_token is currently not been added to the ThreedsWebViewController call back methods for iOS. This is something we are working on and will be available in our next release.

[2021-09-30 08:09] deepesh-vasthimal-cko commented on #99
@gravindragupta90 The 3.5.0 release was made yesterday with examples on how to handle 3DS call back. Also we are only passing back the token on success case in this release. However if you feel this is really required for failure scenario please feel free to raise a new issue and we can plan to put this in our next release. Please note we highly recommend you do carry our regression testing after

[2021-09-30 08:09] #99 closed

[2021-09-30 10:07] joshgare commented on #91
@deepesh-vasthimal-cko we've added the architecture settings outlined in the readme as we are using SPM however we are still getting the following error when running our tests. The app builds and tests run & pass it just fails right at the end.

[code]

[2021-10-04 09:46] deepesh-vasthimal-cko commented on #91
Hi @joshgare This is something which we are currently working on and hopefully should be fixed in our next release.

[2021-10-06 14:37] aleh opened #111 "Localizable strings of the pod conflict with that of the main app when the pod is not used as a dynamic framework"
**Describe the bug**

When the Frames pod is not used as a dynamic framework (that is when `use_frameworks!` is absent in the app's `Podfile` or static frameworks are requested via`use_frameworks! :linkage => :static`), then its resources are not wrapped into a bundle and can override the corresponding resources of the app. Some names are generic enough (`checkmark.png`) but the clash is particula

[2021-10-12 14:32] deepesh-vasthimal-cko commented on #111
@aleh Thanks for raising this issue. I am able to reproduce this from my end. Also we are reviewing your PR and will soon plan to merge after we test it.

[2021-10-19 13:13] #111 closed

[2021-10-20 20:31] joshgare commented on #91
@deepesh-vasthimal-cko @harry-brown-cko I've updated to the new release from a few days ago that is supposed to fix this issue but our tests are still breaking with the same error.

<img width="1419" alt="image" src="https://user-images.githubusercontent.com/113687/138167607-4ec8ed20-7dc1-4feb-ad53-cbe122b8228f.png">

Are there any other changes we need to make?

[2021-10-21 10:27] joshgare commented on #91
@deepesh-vasthimal-cko do we need to remove i386 from the excluded architectures now that this PR has gone through?

[2022-03-10 11:51] FarhanAnsari92 opened #135 "Module"
[!] The [Target] target has transitive dependencies that include statically linked binaries: (/Pods/CheckoutEventLoggerKit/CheckoutEventLoggerKit.xcframework)

pod 'Frames', '3.5.2'
xcode 13.2.1
iOS minimum target v11.0

[2022-03-28 13:45] shaat-Careem opened #138 "How this sdk handle ThreeD secure 2?"
Hi, I'm seeing that you are using Web view to deal with 3dsecure but what about threed secure 2 is same like threed secure1  in Web view? and if yes what about other dynamic authentication through biometrics and token-based authentication methods ?

[2022-04-17 16:01] #138 closed

[2022-04-27 14:33] kamilw-au opened #145 "ERROR ITMS-90081 when trying to upload build to Appstore Connect"
I added Frames framework (v3.5.3) to my project using Carthage:
Cartfile:
```github "checkout/frames-ios"```
Carfile.resolved:
[code]
After that, my CI has started failing with an error message: "ERROR ITMS-90081: "This bundle is invalid. Applications built for more than one architecture require an iOS Deployment Target of 3.0 or later."

Do you have any idea why is that happening?

[2022-04-27 14:37] harry-brown-cko commented on #145
We have very recently released 3.5.3 so it could be that something was accidentally introduced in that release. Are you able to check if this issue is present in 3.5.2?

[2022-04-27 15:44] kamilw-au commented on #145
The error is still present in v3.5.2

[2022-04-27 16:25] harry-brown-cko commented on #145
Thank you for testing that for us. Give us some time to look into this

[2022-05-10 12:22] Manikarthi-vaiha opened #148 "Auto save card details prevention"
Automatically saved the card in processed payment how to prevent it?

[2022-05-10 15:21] alex-ioja-yang-cko opened #149 "Review possibility to use simpler APIs"
**Is your feature request related to a problem? Please describe.**
Remove the need for Bundle to be provided when using Swift Packages

**Describe the solution you'd like**
[Use @available](https://nshipster.com/available/) to provide an implementation that doesn't require a class to be provided and remove syntax sugar.

**Example**
Have something similar to
[code]

Use this method for any package

[2022-05-11 16:53] patrick-hoban-cko commented on #148
Hi @Manikarthi-vaiha - please could you provide some more details about this issue?

Where was the card automatically saved? Did this happen after you had taken the Checkout.com card token to attempt a payment with?

[2022-05-13 10:07] kamilw-au commented on #145
Hello @harry-brown-cko, any news with this?

[2022-05-20 07:17] tlb-quentin-gallois opened #156 "M1 support"
**Describe the bug**
When build project with M1 architecture we receive this error:
Could not find module 'Frames' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator, at: /Users/…./Library/Developer/Xcode/DerivedData/X/Build/Products/X-iphonesimulator/Frames.swiftmodule

**To Reproduce**
Steps to reproduce the behavior:
1. Build a project that use Frames SDK via SPM w

[2022-05-23 06:33] maulikm235 opened #157 "Apple Pay Error "20030", "Format error""
**"Format error" event not using capabilityEMV**
when I try to pay using apple its shows the error "Format error".

**SDK version**
Frames (3.3.0)

**Screenshots**
![Screenshot 2022-05-23 at 11 42 39 AM](https://user-images.githubusercontent.com/69245102/169755334-f4b907fc-d821-4646-a5e8-9d4bf1167cbd.png)

**Code**
`hi
func btnApplePayTapped(_ currency : String = "SAR",_ countryCode : String = "SR

[2022-05-23 08:54] deepesh-vasthimal-cko commented on #148
@Manikarthi-vaiha Thanks for raising this. Are you referring to the sample app ( iOS Example Frame ), if then please look at the MainViewController on line 34 `lazy var cardViewController: CardViewController = { ` The cardViewController is initialised only once and its reused every-time the view is appeared ( create token go back and come back to payment form ). Since the cardViewController is not

[2022-05-25 09:42] deepesh-vasthimal-cko commented on #135
Hi @FarhanAnsari92 Can you please give us more details to reproduce the issue. Some steps would be nice.

[2022-05-30 18:50] #156 closed

[2022-06-09 08:08] #135 closed

[2022-06-09 08:08] FarhanAnsari92 commented on #135
I installed the sdk using SPM.

[2022-06-10 07:37] FarhanAnsari92 opened #171 "Error decoding"
**GETTING THIS ERROR WHEN CALLING createCardToken METHOD IN TEST ENVIRONMENT:**
dataCorrupted(Swift.DecodingError.Context(codingPath: [], debugDescription: "The given data was not valid JSON.", underlyingError: Optional(Error Domain=NSCocoaErrorDomain Code=3840 "No value." UserInfo={NSDebugDescription=No value.})))

**CARD NUMBER:** 4242-4242-4242-4242
**Expiry:** 12/23
**CVV:** 100

**NOTE: ** It

[2022-07-18 10:09] kevinpalser opened #212 "Network error when checkoutAPIClient.createCardToken(...) called and Internet connectivity available"
**Describe the bug**
The Frames SDK is sometimes returning “The operation couldn’t be completed. (Frames.NetworkError error 0.)” when we know that there is Internet connectivity. This is for the checkoutAPIClient.createCardToken(card: cardTokenRequest) method. The error comes from error.localizedDescription when the result is a failure.

One customer reported the error occurred on two separate day

[2022-07-18 18:06] harry-brown-cko commented on #212
Hi Kevin,

We're sorry to hear that you're experiencing issues with our SDK. We can see from our end that for your app you are using our SDK in headless mode and which errors are being raised, those being `phone_number_invalid`, `phone_number_length_invalid` and `cvv_invalid`.

`Frames.NetworkError error 0` is a validation error returned from our backend. Note that in headless mode we currently do

[2022-07-18 18:17] kevinpalser commented on #212
Thank you for your prompt response Harry. We'll update our implementation based on your response and extend our error logging.

[2022-08-01 13:01] ehab-al-cko commented on #212
Hi @kevinpalser, please let us know if you need more support. Thanks

[2022-08-01 14:21] ehab-al-cko commented on #149
[Noted](https://checkout.atlassian.net/browse/PIMOB-1236?focusedCommentId=178099). Thanks

[2022-08-01 14:21] #149 closed

[2022-08-10 19:38] tarasChernysh opened #244 "ThreedsWebViewControllerDelegate not called"
**ThreedsWebViewControllerDelegate not called**

Few weeks before it works. But now it doesn't.
Could you help me please to figure out the problem here?

`class MainVC: UIViewController, ThreedsWebViewControllerDelegate {`

    override func viewDidAppear(_ animated: Bool) {
        super.viewDidAppear(animated)

        let response = PayInvoiceResponse(
            approved: true,
            re

[2022-08-11 06:37] tarasChernysh commented on #244
It was fixed.
Our server returned wrong urls for iOS client.
It works now

[2022-08-11 06:37] #244 closed

[2022-08-16 14:18] patrick-hoban-cko commented on #212
Hi @kevinpalser - closing this now, but please do let us know if there's anything else we can do to help.

[2022-08-16 14:18] #212 closed